# Ignore virtual environment
/.venv

# Ignore config  file
docker_no_volume/config.ini
docker_volume/config.ini

# Ignore data
docker_no_volume/data/*.csv
docker_no_volume/data/*.db
docker_no_volume/data/*.gzip

# Ignore data
docker_volume/data/*.csv
docker_volume/data/*.db
docker_volume/data/*.gzip